<% listings.each(function(listing) { %>
	<article class="listing-box">
		<a href="#/listings/<%= listing.id %>">
			<p><%= listing.escape("title") %> | $<%= listing.escape("price") %></p>
			<img src="images/<%= listing.escape("cover_pic") %>">
		</a>
	</article>
<% }); %>