<h1 class="welcome">Welcome to AirNZG!</h1>

<h3>What are you looking for?</h3>

<!-- Search Form Goes Here -->

<form action="<%= listings_url %>" method="GET" class="listing-search">
  <label for="short-term">Short Term (less than 1 month)</label>
  <input type="radio" name="term" value="short" id="short-term">

  <label for="long-term">Long Term (a month or longer)</label>
  <input type="radio" name="term" value="long" id="long-term">

  <br>

  <label for="listing-city">Where to?</label>
  <input type="text" name="city" id="listing-city"
         placeholder="City, Country">

  <label for="listing-start">Start Date</label>
  <input type="date" name="start" id="listing-start">

  <label for="listing-end">End Date</label>
  <input type="date" name="end" id="listing-end">

  <label for="listing-accomodates">For how many?</label>
  <input type="number" name="accomodates" id="listing-accomodates"
         placeholder="# of Guests">

  <button>Search</button>

</form>

<script>
	$(document).ready(function(){
	  AirNZG.initialize();

		$("body").on("submit", "form.listing-search", executeQuery);

		function executeQuery(event) {
			event.preventDefault();
	
			var queryString = $(event.currentTarget).serialize()
	
			Backbone.history.navigate("#/listings?" + queryString, { trigger: true })	
		}
	});
</script>