<section class="my-listings-toggler">
	<ul>
		<li>My Listings</li>
		<li><a href="<%= my_booking_requests_url %>">My Booking Requests</a></li>
	</ul>
</section>

<section class="my-listings-list group">
	<% if @listings.any? %>
		<ul>
			<% @listings.each do |listing| %>
				<li><a href="<%= listing_url(listing) %>"><%= listing.title %></a></li>
			<% end %>
		</ul>
	<% else %>
		<p>You haven't made any listings.
			<a href="<%= new_listing_url %>">Make one now!</a>
		</p>
	<% end %>
</section>