<h1>Sign up for AirNZG</h1>

<form class="user-form">

  <input type="text"
         name="email"
         id="user-email"
         value="<%= user.escape("email") %>">
  <label for="user-email">Email</label>

  <input type="password" name="password" id="user-password">
  <label for="user-password">Password</label>

  <input type="text"
         name="fname"
         id="user-fname"
         value="<%= user.escape("fname") %>">
  <label for="user-fname">First Name</label>

  <input type="text"
         name="lname"
         id="user-lname"
         value="<%= user.escape("lname") %>">
  <label for="user-lname">Last Name</label>

  <button>Sign Up</button>
</form>

<a href="/auth/facebook" class="facebook-auth">Or sign up with Facebook!</a>