<section class="sidebar">
	<div class="avatar-block">
		<img src="<%= user.escape("avatar_medium") %>">
		<a href="#" class="contact-link">contact</a>
	</div>
</section>


<section class="content">
	<article class="basic-info">
		<% var date = new Date(user.get("created_at")).toGMTString() %>
		<% var locale = user.get("locale") ? user.escape("locale") : "No location data for this user." %>
		<p><%= user.escape("fname") %> | Member since <%= date %></p>
		<p><%= locale %></p>
	</article>
</section>