<div class="exit">✕</div>

<form class="convo-form">
	<label for="convo-title">Conversation Title</label>
	<input type="text" id= "convo-title" name="title">

	<h3>Message</h3>

	<label for="message-subject">Subject</label>
	<input type="text" id="message-subject" name="message[subject]">

	<textarea id="message-content" name="message[content]"></textarea>

	<button>Submit</button>
</form>