<h3>Your Conversations</h3>

<% if (conversations.length > 0) { %>
	<ul class="convo-list">
		<% conversations.each(function(conversation) { %>
			<li class="group">
				<% var other_user = AirNZG.users.get(conversation.get("user_id")) %>
				<a href="<%= '#/conversations/' + other_user.id %>">
					<img src="<%= other_user.escape("avatar_small") %>">
					<p>Conversation with <%= other_user.escape("fname") %></p>
					<% var date = new Date(conversation.messages().first().get('created_at')) %>
					<p>Last message at: <%= date.toGMTString() %></p>
				</a>
			</li>
		<% }) %>
	</ul>
<% } else { %>
	<p>You haven't started any conversations yet.</p>
<% } %>
