<h3>Your Conversations</h3>

<% if (conversations.length > 0) { %>
	<ul>
		<% conversations.each(function(conversation) { %>
			<li>
				<% var other_user = AirNZG.users.get(conversation.get("user_id")) %>
				<a href="conversations/">
				<p>Conversation with: <%= other_user.escape("fname") %></p>
				<img src="<%= other_user.escape("avatar_small") %>">
			</li>
		<% }) %>
	</ul>
<% } else { %>
	<p>You haven't started any conversations yet.</p>
<% } %>
