<label for="message-subject">Subject</label>
<input type="text" id="message-subject" name="subject">

<textarea id="message-content" name="content"></textarea>

<input type="hidden" name="receiver_id" 
	value="<%= conversation.escape("user_id") %>">

<button>Submit</button>