/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* RESETS */

html, body, header, footer, div, ul, li, h1, h3, p, form, input, button, label,
figure, article {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  font: inherit;
}

h1, h3, p, li, input, button, label, td {
  font-family: sans-serif;
}

ul, li{
	list-style: none;
}

/* CLEARFIX */

.group:after {
  content: "";
  display: block;
  clear: both;
}

/* STYLES */

body {
	background: #999;
}

header {
  display: block;
  position: fixed;
  height: 50px;
  width: 100%;
  background: #ccc;
}

header > .logo {
  display: block;
  float: left;
}

header > nav {
  display: block;
  float: right;
}

header article {
	padding: 10px;
	font-size: 16px;
	display: block;
	float: left;
}

header figure {
	display: inline-block;
	float: left;
}

header article > div {
	display: inline-block;
}

main {
	width: 1200px;
	background: #fff;
	margin: auto;
	padding: 50px 0;
	
}

ul.dropdown {
  position: absolute;
  display: none;
	width: 150px;
	background: #eee;
	top: 50px;
}

.user-info {
  position: relative;
	padding: 0;
}

article:hover > ul.dropdown {
  display: block;
}

article:hover > ul.dropdown:after {
	content: "";
  display: block;
  position: absolute;
  top: -15px;
	left: 5px;

  width: 0;
  height: 0;
  border-top: 0 solid #eee;
  border-bottom: 15px solid #eee;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  background: transparent;
}

.dropdown > li {
	padding: 5px;
}

.notifications > .dropdown {
	width: 300px;
}


main {
  padding-top: 50px;
}

h1 {
  text-align: center;
  margin: 60px;
  font-size: 40px;
}

h3 {
  text-align: center;
  margin: 30px;
  font-size: 25px;
}

form {
  display: block;
  margin: auto;
  text-align: center;
}

.listing-search > input {
  margin: auto;
	margin-bottom: 10px;
  display: block;
  border: 1px solid black;
  text-align: center;
}