/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui/slider
 *= require_tree .
 *= require_self
 */

/* RESETS */

html, main, body, header, footer, div, ul, li, h1, h3, p, form, input, button, label,
figure, article, a, span, small {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  font: inherit;
	color: inherit;
}

h1, h3, p, li, input, button, label, td, a, div, small {
  font-family: sans-serif;
	text-decoration: none;
}

ul, li{
	list-style: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="submit"],
input[type="radio"],
::-webkit-input-placeholder {
  -webkit-appearance: none;
  display: inline-block;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  width: auto;
  font-family: sans-serif;;
  vertical-align: baseline;
  background: transparent;
  color: inherit;
}

input[type="submit"], button {
  display: inline;
  cursor: pointer;
}

::-webkit-input-placeholder {
  color: #999;
}

/* CLEARFIX */

.group:after {
  content: "";
  display: block;
  clear: both;
}

/* STYLES */

html {
	height: 100%;
}

body {
	height: 100%;
	position: relative;
	background: #999;
}

main.main-content {
	width: 1200px;
	min-height: 600px;
	padding-top: 65px;
	background: #fff;
	margin: auto;
	border: 5px solid #777;
	border-bottom: 0;
}

/* HEADER */

header {
  display: block;
  position: fixed;
  height: 70px;
  width: 100%;
  background: #222;
	color: #fff;
	font-weight: bold;
	z-index: 5;
}

header .logo {
  display: block;
	width: 55px;
  float: left;
	background: #fff;
	background-image: url(image-path('logo.png'));
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 10px;
	margin: 10px;
}

header > nav > ul {
  display: block;
  float: right;
}

header > nav > ul > li {
	float: left;
	height: 70px;
}

header a {
	padding: 25px 10px;
	font-size: 16px;
	display: block;
}

.user-info {
  position: relative;
}

header .user-info > a {
	display: block;
	float: left;
	padding-right: 0;
}

header .user-info > img {
	float: left;
	margin: 10px;
	border-radius: 20px;
}

ul.dropdown {
  position: absolute;
  display: none;
	width: 200px;
	background: #eee;
	top: 70px;
	color: #000;
}

li:hover > ul.dropdown {
  display: block;
}

li:hover > ul.dropdown:after {
	content: "";
  display: block;
  position: absolute;
  top: -15px;
	left: 5px;

  width: 0;
  height: 0;
  border-top: 0 solid #eee;
  border-bottom: 15px solid #eee;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  background: transparent;
}

ul.dropdown a, ul.dropdown li {
	padding: 5px;
	margin: 0;
}

ul.dropdown li:hover {
	background: #aaa;
}

.notifications > .dropdown {
	width: 300px;
}

.notif-num {
	display: block;
	float: left;
	padding: 3px 7px;
	margin-top: 22px;
	margin-right: 10px;
	background-color: #008A99;
	border-radius: 10px;
}

.new-listing > a {
	background-color: #008A99;	
	padding: 10px;
	margin: 15px;
}

.new-listing > a:hover {
	background-color: #00A1B2;	
	padding: 10px;
	margin: 15px;
}

.new-listing > a:active {
	box-sizing: content-box;
	border-top: 1px solid #004750;
	background-color: #00606B;	
	padding: 10px;
	margin: 15px;
}

/* FOOTER */

footer {
	width: 1170px;
	margin: auto;
	border: 5px solid #777;
	border-top: 0;
	background: #ddd;
	padding: 15px;
	
	small {
		font-size: 12px;
		display: block;
	}
	
	.copy {
		float: left;
	}
	
	.hire { 
		float: right;
	}
}

/* ELEMENTS */

h1 {
  text-align: center;
  margin: 60px;
	margin-bottom: 40px;
  font-size: 40px;
}

h3 {
  margin: 30px;
  font-size: 25px;
}

form {
  display: block;
  margin: auto;
  text-align: center;
}

.notice-bar {
	position: fixed;
	top: 80px;
	background: #02E6FB;
	left: 440px;
	color: #000;
	font-weight: bold;
	z-index: 10005;
	display: none;
	opacity: 0.8;
	border-radius: 20px;
	padding: 10px 20px;
}

.error-bar {
	position: fixed;
	top: 80px;
	left: 440px;
	display: none;
	background: #FB7600;
	font-weight: bold;
	color: #fff;
	border-radius: 20px;
	z-index: 10005;
	padding: 10px 20px;
	cursor: pointer;
	
	ul {
		li {
			padding: 5px;
		}
		
		li:before {
			content: "- ";
		}
	}
}

.modal-screen {
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	background: #000;
	opacity: 0.7;
	z-index: 10000;
}

.modal-screen.active {
	display: block;
}

.modal-card {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -300px;
	margin-top: -200px;
	height: 400px;
	width: 600px;
	display: none;
	z-index: 10001;
	background: #fff;
	border-radius: 30px;
}

.exit {
	position: absolute;
	top: 15px;
	right: 20px;
	font-size: 20px;
	cursor: pointer;
}

.modal-card.active {
	display: block;
}

.loading-main {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 10000;
	background: url(image-path('loading.gif'));
	background-color: #ddd;
	background-size: 50px 50px;
	background-repeat: no-repeat;
	background-position: center;
}