.auth-modal {
	position: relative;
	padding: 10px;
	
	h1 {
		font-size: 30px;
		margin: 20px auto;
	}
}

.user-form {
	padding: 30px;
	padding-bottom: 20px;
	
	label {
		display: block;
		margin: auto;
		padding: 10px 0 20px 0;
	}
	
	input[type=text], input[type=password] {
		display: block;
		margin: auto;
		border: 1px solid #000;
		text-align: center;
		padding: 3px 5px;
	}
	
	textarea {
		border: 1px solid #000;
		width: 300px;
		height: 70px;
		padding: 8px;
	}
	
	button {
		width: 200px;
		height: 50px;
		background: #000;
		color: #fff;
		font-weight: bold;
		font-size: 16px;
		border-radius: 10px;
	}

	button:active {
		box-sizing: border-box;
		border-top: 2px solid #000;
		background: #222;
	}
	
	small {
		display: block;
		margin-bottom: 20px;
	}
	
	small:before, small:after {
		content: "**";
	}
}

.facebook-auth {
	width: 200px;
	margin: auto;
	background: #344C8B;
	color: #fff;
	text-align: center;
	display: block;
	font-weight: bold;
	padding: 10px 20px;
	border-radius: 20px;
}

.facebook-auth:active {
	border-top: 1px solid #121B32;
	background: #365097;
	padding-bottom: 9px;
}

.example-signins {
	position: relative;
	width: 500px;
	margin: auto;
	
	button {
		width: 100px;
		height: 50px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		position: absolute;
		bottom: 20px;
		border-radius: 10px;
	}
	
	.superman-signin {
		background-color: #293999;
		background-image: url(image_path("superman-logo.png"));
	}
	
	.superman-signin:active {
		box-sizing: border-box;
		border-top: 1px solid #151D56;
		background-color: #3042B8;
	}
	
	.superman-signin:after {
		content: "Sign In As Superman";
		position: absolute;
		left: 0;
		bottom: -40px;
	}

	.batman-signin {
		background-color: #595959;
		background-image: url(image_path("batman-logo.png"));
		left: 400px;
	}
	
	.batman-signin:active {
		box-sizing: border-box;
		border-top: 1px solid #313131;
		background-color: #727272;
	}
	
	.batman-signin:after {
		width: 100px;
		content: "Sign In As Batman";
		position: absolute;
		left: 0;
		bottom: -40px;
	}
	
}