#map {
	box-sizing: border-box;
  width: 40%;
  height: 700px;
  border-right: 5px solid #222;
  float: left;
  display: block;
}

.listings-content {
	display: block;
	float: left;
	width: 60%;
	height: 700px;
	overflow: scroll;
}

.listing-params {
  display: block;
	margin: auto;
  padding: 20px;
}

.listing-params strong {
	display: block;
	float: left;
	font-size: 20px;
	padding: 5px 20px;
	padding-left: 25px;
}

.filter-form > article {
	display: block;
	margin: auto;
	padding-left: 50px;
	padding-bottom: 20px;
	width: 400px;
}

.dates > div {
	width: 200px;
	display: block;
	float: left;
	text-align: center;
}

.dates > div > input {
	display: block;
	margin: auto;
}

.room > input[type=radio] {
	padding: 0 10px;
	background: #008A99;
	height: 30px;
	width: 90px;
	display: block;
	float: left;
	position: relative;
	margin: 1px 10px;
	border-radius: 10px;
	
	color: #fff;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 14px;
}

.room > input[type=radio]:checked {
	background: #00606B;
}

.room > #room-type-whole:after {
	position: absolute;
	content: "Whole Place";
	top: 7px;
	left: 12px;
}

.room > #room-type-shared:after {
	position: absolute;
	content: "Shared Room";
	top: 7px;
	left: 11px;
}

.room > #room-type-private:after {
	position: absolute;
	content: "Private Room";
	top: 7px;
	left: 10px;
}

.price > input {
	border: 1px solid black;
}

.price > div {
	width: 50px;
	display: block;
	float: left;
}

div.price-slider {
	width: 298px;
	margin: 10px auto;
}

.filter-form > button {
  display: block;
  margin: auto;
  padding: 5px 15px;
  background: #555;
  color: #fff;
}

.filter-form > button:active {
	box-sizing: border-box;
	border-top: 2px solid #222;
}

.listings-list {
  display: block;
  float: left;
	margin: auto;
  padding: 0 20px;
}

.listings-content > h3 {
	margin: 0 auto;
	
}

.my-listings-toggler {
	width: 300px;
	height: 400px;
	display: block;
	float: left;
	border: 1px solid black;
}

.my-listings-list {
	width: 500px;
	min-height: 400px;
	display: block;
	float: right;
	border: 1px solid black;
}