// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.listing-head > div {
	display: block;
	float: left;
	height: 150px;
	padding: 20px;
}

.user-block {
	text-align: center;
	width: 140px;
}

.listing-head, .listing-main {
	display: block;
	width: 1300px;
	margin: auto;
}

.listing-head {
	height: 230px;
}

.basic-info {
	width: 600px;
	text-align: center;
	margin: auto;
}

.request-form {
	width: 400px;
	float: right;
	border: 5px solid #888;
}

.request-form > form {
	padding: 30px;
}

.request-form > form > input, .request-form > form > button {
	margin: 5px;
	border: 1px solid black;
}

.listing-main > article {
	display: block;
	padding: 20px 100px;
}