.convo-list {
	padding: 20px 40px;
	
	li {
		margin: 10px 0;
		border: 1px solid #ccc;
		padding: 10px;
		
		a {
			img {
				display: block;
				float: left;
				border-radius: 20px;
			}
			p {
				display: block;
				float: left;
				width: 800px;
				font-size: 15px;
				padding: 15px 30px;
				
			}
			
		}
		
	}
}

.convo-show {
	padding: 30px;
	
	button.new-message {
		display: block;
		float: right;
		padding: 20px 40px;
		border-radius: 20px;
		background: #ddd;
		border: 1px solid #555;
		margin: 0 50px;
	}
	
	.new-message:hover {
		background: #eee;
	}
	
	.new-message:active {
		background: #ccc;
		border-top: 2px solid #555;
		padding-bottom: 19px;
	}
	
	.message-list {
		li {
			border: 1px dotted #ccc;
		}
		
		.message-user-box {
			display: block;
			float: left;
			padding: 10px;
		}

		
		.content {
			border-left: 1px dotted #ccc;
			display: block;
			float: left;
			width: 940px;
			padding: 10px;
			
			h4 {
				font-size: 20px;
				display: block;
				float: left;
				padding: 10px 20px;
				width: 900px;
				margin: 0;
			}
			p {
				display: block;
				float: left;
				padding: 10px 20px;
				width: 900px;
				word-wrap: break-word;
			}
		}
		
	}
}