.convos {
	padding: 20px;
}

.convos > p {
	margin: 30px;
	font-size: 20px;
}

.convos > h3 {
	font-size: 26px;
}

.convo-list {
	padding: 20px 40px;
	
	li {
		margin: 10px 0;
		border: 1px solid #ccc;
		padding: 10px;
		
		a {
			img {
				display: block;
				float: left;
				border-radius: 20px;
			}
			p {
				display: block;
				float: left;
				width: 800px;
				font-size: 15px;
				padding: 15px 30px;
				
			}
			
		}
		
	}
}

.convo-show {
	padding: 30px;
	
	button.new-message {
		display: block;
		float: right;
		padding: 20px 40px;
		border-radius: 20px;
		background: #ddd;
		border: 1px solid #555;
		margin: 0 50px;
	}
	
	.new-message:hover {
		background: #eee;
	}
	
	.new-message:active {
		background: #ccc;
		border-top: 2px solid #555;
		padding-bottom: 19px;
	}
	
	.message-list {
		li {
			border: 1px dotted #ccc;
		}
		
		.message-user-box {
			display: block;
			float: left;
			padding: 10px;
			width: 70px;
			
			img {
				display: block;
				margin: auto;
			}
			
			p {
				text-align: center;
				font-size: 14px;
				padding-top: 5px;
			}
		}

		.content {
			border-left: 1px dotted #ccc;
			display: block;
			float: left;
			width: 900px;
			padding: 10px;
			
			h4 {
				font-size: 20px;
				display: block;
				float: left;
				padding: 10px 20px;
				width: 900px;
				margin: 0;
			}
			p {
				display: block;
				float: left;
				padding: 10px 20px;
				width: 900px;
				word-wrap: break-word;
			}
		}
		
	}
}

.new-message-form {
	display: block;
	margin: auto;
	padding: 20px;
	width: 500px;
	
	label {
		display: block;
		text-align: center;
		margin-bottom: 20px;
	}
	
	input#message-subject {
		display: block;
		margin: auto;
		border-bottom: 3px solid #999;
		padding: 5px;
		margin-bottom: 5px;
		width: 230px;
	}
	
	textarea#message-content {
		padding: 5px;
		width: 230px;
		display: block;
		margin: auto;
		height: 90px;
		outline: 0;
	}
	
	button {
		margin: 20px;
		padding: 15px 30px;
		background: #555;
		border: 2px solid #111;
		color: #fff;
		font-weight: bold;
		letter-spacing: 2px;
	}
	
	button:hover {
		background: #777;
	}
	
	button:active {
		background: #333;
		border-top: 3px solid #111;
		padding-bottom: 14px;
	}
}