<a href="#" class="logo"></a>

<ul class="header-nav group">
	<li class="sign-in">
	  <a href="#" class="sign-in-link">Sign In</a>
	</li>

	<li class="sign-up">
	  <a href="#/users/new">Sign Up</a>
	</li>
</ul>