<figure class="logo-main"></figure>

<h3>What are you looking for?</h3>

<form class="listing-search">
	
	<section class="parallel-radios">
	  <input type="radio" name="term" value="short" id="short-term">
		
	  <input type="radio" name="term" value="long" id="long-term">
	</section>

  <br>
	
	<section class="">
  <label for="listing-city">Where to?</label>
  <input type="text" name="city" id="listing-city"
         placeholder="City, Country">
	</section>

  <label for="listing-start">Start Date</label>
  <input type="date" name="start" id="listing-start">

  <label for="listing-end">End Date</label>
  <input type="date" name="end" id="listing-end">

  <label for="listing-accomodates">For how many?</label>
  <input type="number" name="accomodates" id="listing-accomodates"
         placeholder="# of Guests">

  <button>Search</button>

</form>