<h1>Sign in!</h1>

<div class="exit">✕</div>

<form class="user-form" action="/session" method="POST">
	<input type="hidden" name="authenticity_token" value="<%= $('meta[name="csrf-token"]').attr('content') %>">
	<input type="hidden" name="path" value="">
	
  <input type="text" name="user[email]" id="user-email">
  <label for="user-email">Email</label>

  <input type="password" name="user[password]" id="user-password">
  <label for="user-password">Password</label>

  <button>Sign In</button>
</form>

<section class="example-signins">
	<button class="superman-signin"></button>
	<button class="batman-signin"></button>
</section>

<a href="/auth/facebook" class="facebook-auth">Or sign in with Facebook!</a>